
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
.env
*.env
*.log

# Virtual environments
myenv311/
venv/
.env/

# Node.js / React Native
node_modules/
npm-debug.log
yarn-error.log
.expo/
.expo-shared/
*.expo

# Build outputs
android/
ios/
build/
dist/

# System files
.DS_Store
Thumbs.db

# IDE / Editor files
.vscode/
.idea/
*.swp
